
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */